@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

body {
    margin-left: 80px;
    margin-top: 80px;
    padding-right: 20px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background: linear-gradient(180deg, #0FFE9A 0%, rgba(50, 114, 40, 0.00) 100%), rgba(60, 65, 64, 0.84);

}



/*Cards*/
.btnCards {
    background-color: #21B573;
    border: none;
    border-radius: 45px;
    color: whitesmoke;
}


.card {
    display: flex;
    flex-direction: column;
    /* Para que los elementos internos se apilen verticalmente */
    margin: 20px;
    width: 100%;
    /* O cualquier otro valor que desees */
    max-width: 495px;
    height: 750px;
    border-radius: 30px;
    border: 2px solid #3D4E64;
    background: #2C2D2C;
    align-items: stretch;

}

.encabezado {
    display: flex;
    justify-content: space-between;
    margin: 30px;

}

.icono {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 36px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #24D198;

}

.categoria {
    display: flex;
    justify-content: center;
    width: 122px;
    height: 33px;
    border-radius: 17.5px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
    font-weight: 700;
    line-height: 40px;
    color: #D9ECFF;
}

.descripcion {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: #7B92AC;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.separacion {
    margin: 30px;
    width: 457px;
    height: 1px;
    background: rgba(218, 218, 247, 0.30);
}

.boton {
    margin: 30px;
}

.pietarjeta {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

button {
    width: 161px;
    height: 58px;
    border-radius: 47px;
    background: #21B573;
    border: none;
    /*text*/
    color: #ffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

.icono2 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 60px;
    border-radius: 50%;
    margin-right: 49px;
    font-size: 16px;
    background-color: #ffff;
    overflow: hidden;
}

.icono2 img {

    width: 50px;
    height: 40px;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */

}