:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: #2C2D2C;
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}

body {
    background: linear-gradient(180deg, #0FFE9A 0%, rgba(50, 114, 40, 0.00) 100%), rgba(60, 65, 64, 0.84);
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 30px;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: whitesmoke;
}

#sidemenu {
    background-color: var(--bgcolor);
    color: whitesmoke;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Salsa', cursive;
}

#sidemenu a {
    color: whitesmoke;
    text-decoration: none;
}

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #tittle {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #tittle, #sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer {
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo, #sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}

#sidemenu #menu-items {
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

#sidemenu #menu-items .item .icon {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon, #sidemenu #menu-items .item .tittle {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon img {
    width: 100%;
}

#sidemenu #menu-items .item .tittle {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #tittle {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #tittle span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #tittle {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}

.container {
    background-color: #2C2D2C;
    color: whitesmoke;
    padding: 30px;
    border-radius: 15px;
}

.container .tittle {
    font-size: 40px;
}

.principal {
    display: flex;
}