* {
    margin: 0;
}

.header {
    font-family: 'Lemon', serif;
    padding: 15px;
    color: whitesmoke;
    display: flex;
    text-align: center;
    background-color: #022010;
    text-align: center;
    justify-content: center;
}

.header .btn1 {
    background-color: #0d443b;
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-top: 8px;
    color: whitesmoke;
    margin-left: 450px;
}

a {
    text-decoration: none;
}

.header .btn2 {
    background-color: #0d443b;
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-top: 8px;
    color: whitesmoke;
    margin-left: 20px;
}

.header .btn1:hover {
    background-color: rgb(26, 105, 105);
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-top: 8px;
    color: whitesmoke;
}

.header .btn2:hover {
    background-color: rgb(26, 105, 105);
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-top: 8px;
    color: whitesmoke;
}

.btnCards {
    background-color: #21B573;
    border: none;
    border-radius: 45px;
    color: whitesmoke;
}

.btnCards:hover {
    background-color: #022010;
    border: none;
    border-radius: 45px;
    color: whitesmoke;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.container {
    font-family: 'Salsa', cursive;
    margin-right: 200px;
}

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: #2C2D2C;
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}

body {
    background: linear-gradient(180deg, #0FFE9A 0%, rgba(50, 114, 40, 0.00) 100%), rgba(60, 65, 64, 0.84);
    background-color: rgba(60, 65, 64, 0.84);
    font-size: 18px;
    padding: initial;
    margin: initial;
    margin-left: var(--width-collapsed);
    transition: background-color 0.5s ease;
}


.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: whitesmoke;
}

#sidemenu {
    background-color: var(--bgcolor);
    color: whitesmoke;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Salsa', cursive;
}

#sidemenu a {
    color: whitesmoke;
    text-decoration: none;
}

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #tittle {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #tittle,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer {
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}

#sidemenu #menu-items {
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

#sidemenu #menu-items .item .icon {
    display: inline-block;
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .tittle {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon img {
    width: 100%;
}

#sidemenu #menu-items .item .tittle {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #tittle {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #tittle span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #tittle {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}


#21B573
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body.active {
    background-image: linear-gradient(180deg, #053f27 0%, rgba(50, 114, 40, 0.00) 100%);
}



.checkbox {
    height: 40px;
    width: 120px;
    background: #222;
    appearance: none;
    border-radius: 160px;
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.checkbox::before {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 160px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
        inset 4px 4px rgba(255, 255, 255, 0.2),
        inset -4px 4px rgba(255, 255, 255, 0.2);
}

.checkbox:checked {
    background: #fff;
    box-shadow: inset 0 2px 40px rgba(0, 0, 0, 0.1),
        inset 0 2px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

.checkbox:checked::before {
    left: 80px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
        inset 4px 4px rgba(255, 255, 255, 1),
        inset -4px 4px rgb(224, 224, 224);
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
}


.toggle {
    display: flex;
    align-items: center;

}


/* carousel*/

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.bg-dark {
    height: 100%;
}

.col-md-2 {
    padding: 0;
    /* Para eliminar el espacio entre la barra de navegación y el carrusel */
}

.col-md-10 {
    padding: 1em;
}

.carousel-inner {
    padding: 1em;
}

 .carousel-inner .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border:none;
    border-radius: 20px;
    height: 402px;
    background:#2C2D2C;
}

.card-title{
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "KoHo", sans-serif;
    color:#D9ECFF ;
    
}

#boton-categoria{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #21B573;
    border-radius: 47px;
}



.carousel-control-prev,
.carousel-control-next {
    background-color: #2C2D2C;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card img {
    max-height: 100%;

}

@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}